
$body-bg: #111827;
$primary: #00cc33; /* Verde Matrix */
$secondary: #6c757d; /* Cinza */
$success: #198754; /* Verde Escuro */
$info: #0dcaf0; /* Azul Claro */
$warning: #ffc107; /* Amarelo */
$danger: #dc3545; /* Vermelho */
$light: #f8f9fa; /* Branco */
$dark: #343a40; /* Preto */
$white: #ffffff; /* Branco */
$gray: #adb5bd; /* Cinza Claro */
$gray-dark: #6c757d; /* Cinza Escuro */
$gray-light: #ced4da; /* Cinza Mais Claro */
$body-color: #00cc33; /* Cor do texto: Verde Matrix */
